:root {
  --radius-none: 0;
  --radius-2xs: 0.4rem;
  --radius-xs: 0.8rem;
  --radius-sm: 1.2rem;
  --radius-md: 1.6rem;
  --radius-lg: 2rem;
  --radius-xl: 2.8rem;
  --radius-2xl: 3.6rem;
  --radius-full: 999rem;
}
