:root {
  --space-0: 0;
  --space-1: 0.2rem;
  --space-2: 0.4rem;
  --space-3: 0.8rem;
  --space-4: 1.2rem;
  --space-5: 1.6rem;
  --space-6: 2rem;
  --space-7: 2.4rem;
  --space-8: 3.2rem;
  --space-9: 4rem;
  --space-10: 4.8rem;
  --space-11: 5.6rem;
  --space-12: 6.4rem;
  --space-13: 8rem;
  --space-14: 9.6rem;
  --space-15: 12rem;
}
